/* 
    Document   : general
    Created on : 15 nov. 2012, 14:27:45
    Author     : thibaud
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{background-color: #046380;  }

#GlobalConnexion{
    color:#4BB5C1;
    background-color:whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    width: 400px;
    height:300px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.3);

}
#navigation{
    position: absolute; 
    background-color: whitesmoke; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    height: 30px;    
    width: 100%;
    color:#4BB5C1;
    text-transform:uppercase;
    font-size: 110%;
    
}

#home_link{
    position: absolute; 
    top: 0px; 
    left: 20%; 
    height: 30px;    
    width: 100px;
    padding-top: 5px;
    text-align: center;
}
#profil_link{
    position: absolute; 
    top: 0px; 
    left: 30%; 
    height: 30px;    
    width: 100px;
    padding-top: 5px;
    text-align: center;
}
#Outils_link{
    position: absolute; 
    top: 0px; 
    left: 40%; 
    height: 30px;    
    width: 100px;
    padding-top: 5px;
    text-align: center;
}


#deconnexion_link{
    position: absolute; 
    top: 0px; 
    left: 75%; 
    height: 30px;    
    width: 200px;
    padding-top: 5px;
    text-align: center;
}

#home_link:hover{background-color:#046380; width: 100px}
#deconnexion_link:hover{background-color: #046380; width: 200px}
#profil_link:hover{background-color: #046380; width: 100px}
#Outils_link:hover{background-color: #046380; width: 100px;}


A:link {text-decoration: none;color:#4BB5C1;}
A:visited {text-decoration: none;color:#4BB5C1;}
A:active {text-decoration: none;color:#4BB5C1;}
A:hover {text-decoration: none;color:#4BB5C1;}

input:hover{
    
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); 
    
}