/* 
    Document   : general
    Created on : 15 nov. 2012, 14:27:45
    Author     : thibaud
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{background-color: #046380; color: white; }
#GlobalConnexion{
    text-shadow: 0px 0px 3px #777;
    background-color:#4BB5C1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    width: 400px;
    height:300px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.3);
}

